DATABASE_URL="postgresql://postgres:password@localhost:5432/medilink?schema=public"
PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# JWT & Authentication
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRY=7d
VERIFY_OTP_TOKEN_SECRET=your_verify_otp_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
ACCESS_TOKEN_SECRET=your_access_token_secret_here
JWT_ADMIN_SECRET=your_jwt_admin_secret_here
LOGINPHONESECRET=your_login_phone_secret_here

# Mocking and Services
OTP_MOCK=true

# Twilio
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here
TWILIO_OTP_CHANNEL=sms
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

# Email
EMAIL_PASS=your_email_password_here

# Cloudinary
CLOUDINARY_KEY_NAME=your_cloudinary_key_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

# Medicine CSV Path
MEDICINE_CSV_PATH=temp_medicine.csv
